.c-btn {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    position: relative;
    margin-top: 2px;
    letter-spacing: 2.1px;

    display: inline-flex;
    width: 185px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    border-radius: 9px;
    @include tab {
        order: 2;
        width: 21.6%;
        height: 40px;
        font-size: 1.6rem;
        margin-top: 0;
    }
    @include sp {
        order: 2;
        width: 122px;
        height: 38px;
        position: absolute;
        right: 60px;
        font-size: 1.4rem;
    }

    &.is-display--onlysp {
        display: none;
        @include sp {
            display: inline-flex;
        }
    }

    &--bigbtn {
        @extend .c-btn;
        position: unset;
        font-size: 2.4rem;
        right: -9px;

        @include sp {
            position: relative;
            right: unset;
            margin: 32px auto 0;
            width: 94.4%;
            height: 60px;
            display: flex;
        }
    }

    .c-btn__recruiticon {
        margin-left: -5px;
        @include tab {
            margin-left: -3px;
        }
        @include sp {
            margin-left: -1px;
        }

        &--bigbtn {
            @extend .c-btn__recruiticon;
            width: 28px;
            left: 8%;
            top: 17px;
            position: absolute;
        }
    }

    .c-btn__recruittext {
        margin-left: 8px;
        @include tab {
            margin-left: 12px;
        }
        @include sp {
            margin-left: 6px;
        }

        &--bigbtn {
            @extend .c-btn__recruittext;
            margin-left: 4.8%;
            letter-spacing: 1px;
        }
    }
}
