//baseWidth
$base-width: 1200px;

// font family
$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$primary-color: #3c3c3c;
$secondary-color: #0080cc;
$tertiary-color: #005384;
$highlight-color: #ff5800;
