<section class="c-mainvisual">
    <div class="c-mainvisual__wrapper l-container--960px">
        <h1 class="c-mainvisual__heading">
            <p class="c-mainvisual__headingtext">若い力を</p>
            <p class="c-mainvisual__headingtext">発揮できる環境が</p>
            <p class="c-mainvisual__headingtext">ココにはある。</p>
        </h1>
        <h2 class="c-mainvisual__descrbox c-mainvisual__descr">
            <span class="c-mainvisual__descr--orange">暮らしの未来</span>を一緒に作る仲間を募集しています。
        </h2>
        <span class="c-mainvisual__scroll">SCROLL</span>
    </div>
</section>